
// Fonts
/*
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

@import './node_modules/bulma/bulma';

html {
    background-color:inherit;
}

body {
    background: #fafafa;
    font-family: 'Gudea', sans-serif;
}


#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    #logo {
        @media screen and (max-width: 768px) {
            margin: 0 auto;
        }
    }

    nav {
        display: flex;
        width: 70%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        ul {
            width: 100%;
            display: flex;
            justify-content: space-around;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
        
            li {
                display: flex;
                align-items: center;

                @media screen and (max-width: 768px) {
                    justify-content: center;
                }

                a {
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    padding: 1.2rem;

                    @media screen and (max-width: 768px) {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.footer {
    background: #000;
}

/**
* INDEX PAGE
*
*/

#background-form {
    height: 80vh;
    background: url('/img/background.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel-index {
    margin: 1rem 0;

    .item {
        text-align: center;
    }
}

/**
* BUY PAGE
*
*/

.card-margin {
    margin: 2rem 0;
    display: flex;
}